header {
    /* background-color: #2b517c; */
    display: flex;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #bac3d3;
}

aside {
    background-color: #bac3d3;
    height: calc(100vh - 50px);
}

.mainContent{
    display: flex;
}

.outlet{
    background: #F9F7F7;
    width: 100%;
}

.navbarContent{
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.brand{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    color: #112D4E;
    padding: 5px 10px;
    transition: 200ms ease;
    cursor: pointer;
    margin-right: 35px;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 3px;
}

.brand:hover{
    background: #DBE2EF;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.userSection{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.userProfileSec{
    border: none;
    border-radius: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.navbar a{
    border-radius: 4px;
    padding: 10px 14px;
    transition: 200ms ease;
    cursor: pointer;
    color: #112D4E;
    font-size: 16px;
}

.navbar a:hover{
    background: #DBE2EF;
}

.createBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    transition: 200ms ease;
    background-color: #112D4E;
    cursor: pointer;
}

.searchWrapper{
    display: flex;
    position: relative;
}

.searchIcon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.searchbar{
    margin-right: 20px;
    border: 1px dashed gray;
    outline: none;
    border-radius: 10px;
    height: 34px;
    width: 250px;
    padding: 5px 30px;
    cursor: pointer;
}

::placeholder{
    color: #3F72AF;
}