/* LOGIN START */
:root{
    --bg-light-color: #F9F7F7;
    --bg-form: #3F72AF;
    --bg-image: #DBE2EF;
    --bg-dark: #112D4E;
}

body {
  /* background: #111827; */
  /* 90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100% */
  background: var(--bg-light-color);
  color: white;
}

.container {
  position: relative;
  width: 1000px;
  max-width: 100%;
  min-height: 600px;
  background: var(--bg-light-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sign_up,
.sign_in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.6s ease-in-out;
}
.sign_up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign_in h1,
.sign_up h1
{
  font-size: 5vmin;
}

.sign_in {
  width: 50%;
  z-index: 2;
}

.sign_in form p {
  font-size: 16px;
}
.sign_up form p {
  font-size: 16px;
}

form {
  background-color: var(--bg-form);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(35px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
h1 {
  font-weight: bold;
  margin: 0;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
button {
  color: #fff;
  background: var(--bg-dark);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
button:active {
  transform: scale(0.9);
}
#signIn,
#signUp {
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 400px;
  transition: background-color 0.2s ease-out;
  background-color: var(--bg-form);
}
#signIn:hover,
#signUp:hover {
  background-color: var(--bg-dark);
}

.container.right_panel_active .sign_in {
  transform: translateX(100%);
}
.container.right_panel_active .sign_up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
.overlay_container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.container.right_panel_active .overlay_container {
  transform: translateX(-100%);
}
.overlay {
  position: relative;
  color: #fff;
  background-color: var(--bg-image);
  left: -100%;
  height: 100%;
  width: 200%;
  /* background: linear-gradient(to right, #ff4b28, #ff228c); */
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.container.right_panel_active .overlay {
  transform: translateX(50%);
}
.overlay-left,
.overlay-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  background: url("../../bg-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(5px 5px 50px #b3b3b3);
}
.overlay-left {
  transform: translateX(-20%);
}
.overlay-right {
  right: 0;
  transform: translateX(0);
}
.container.right_panel_active .overlay-left {
  transform: translateX(0);
}
.container.right_panel_active .overlay-right {
  transform: translateX(20%);
}
.social_container {
  margin: 20px 0;
}
.social_container a {
  height: 45px;
  width: 45px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #111827;
  border: 2px solid #111827;
  border-radius: 50%;
  transition: all 0.2s ease;
  font-size: 25px;
}
.social_container a:hover {
  background: #111827;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: auto;
}

.login_logo {
  z-index: 120;
  position: absolute;
  left: 37%;
  filter: drop-shadow(0px 5px 5px #383f46);
  transition: 0.1s all ease-in;
}

#main .login_logo:hover {
  filter: drop-shadow(0px 30px 30px #2e353f);
}

.auth_sec {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #1c487b;
  border-radius: 20px;
  padding: 0 20px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: var(--bg-light-color);
  transition: all ease 0.5s;
  border: none;
  outline: none;
}

::placeholder {
  color: var(--bg-light-color);
  opacity: .66;
}

.social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
/* LOGIN FORM END */


.inputs{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.inputs input{
  margin-bottom: 20px;
}

.signin_inputs{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


/* --- BTN DENEME */

.btn{
  width: 200px;
  height: 50px;
  position: relative;
  cursor: pointer;


}

.btn:hover .front{
  top: -5px;
  left: 5px;
}

.btn:hover .postit{
  opacity: 1;
  top: -40px;
  left: -30px;
}

.postit{
  transition: all 0.3s;
  transform: rotate(330deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.front{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 205px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-dark);
  border-radius: 5px;
  padding: 10px 20px;
  /* border: 1px solid #000; */
  transition: all 0.3s;
}

/* .back{
  width: 210px;
  height: 55px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: rgb(22, 57, 97);
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
} */